<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Achal Trivedi/IdeaProjects/AppiumFrameworkDesign">
        <classes>
            <class name="appiumproject.testcases.Test01_GeneralStore">
            <methods><include name="GeneralStoreTest01"/></methods>
            </class>
            <class name="appiumproject.testcases.Test02_MultipleTests"><methods><include name="VerifyNameValidation_Test01"/>
                <include name="FormSubmit_Test02"/>
            </methods>
        </class>
        </classes>
    </test>
</suite>