<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="appiumproject.testutils.TestListener"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="Test01: General store End to End">
        <classes>
            <class name="appiumproject.testcases.Test01_GeneralStore">
                <methods>
                    <include name="GeneralStoreTest01"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="Test02: Two tests- Verify validation and form submit">
        <classes>
            <class name="appiumproject.testcases.Test02_MultipleTests">
                <methods>
                    <include name="VerifyNameValidation_Test01"/>
                    <include name="FormSubmit_Test02"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="Test03: Form filled by Data Provider">
        <classes>
            <class name="appiumproject.testcases.Test03_DDTByDataProvider">
                <methods>
                    <include name="DDTByDataProviderTest03"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="Test04_DDTByJason">
        <classes>
            <class name="appiumproject.testcases.Test04_DDTByJason">
                <methods>
                    <include name="DDTByJasonFile04"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>